* ::-webkit-scrollbar{
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Mitr', sans-serif;
}

.nav {
  position: relative;
  z-index: 2; /* Replace with your desired background color */
}

.content {
  position: absolute;
  z-index: -1;
  top: 0; /* Ensure content is above the background */
}
