:root {
    --icon-width: 79px;
    --icon-height: 79px;
    --num-icons: 9;
}
.slot-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */

}

.side-slot {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%; /* ปรับเป็น 100% */
    max-width: 100%; /* เพิ่ม max-width */
    opacity: 0; /* ทำให้ภาพมองไม่เห็น*/
    border: none;
}
.slot-border {
    position: relative;
    z-index: 2;
    /* border: 1px solid white; */
    top: -14vh;
    width: 300px;
    height: 325px;
}

.slots {
    position: relative;
    width: 300px ;
    /* height: px ; */
    /* border: 1px solid white; */
    padding: 23.7px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(204, 35, 35);
    z-index: 1;
    top: 30vh;
    border-radius: 60px;


    .reel {
        /* border: 1px solid black; */
        width: 79px;
        height: 237px;
        /* background-image: url(https://assets.codepen.io/439000/slotreel.webp); */
        background-image: url('../Asset/muSlotRell.png');
		background-position: 0 0;
		background-repeat: repeat-y;
    }  
}

@keyframes someWin {
    0% { background: linear-gradient(45deg, orange 0%, yellow 100%); 
    box-shadow: 0 0 80px orange }
    100% { background: linear-gradient(45deg, grey 0%, lightgrey 100%); box-shadow: -2px 2px 3px rgba(black, 0.3); }
}

@keyframes allWin {
    0% { background: linear-gradient(45deg, lightblue 0%, lightgreen 100%); 
    box-shadow: 0 0 80px lightgreen }
    100% { background: linear-gradient(45deg, grey 0%, lightgrey 100%); box-shadow: -2px 2px 3px rgba(black, 0.3); }
}

&.someWin {
    animation: win1 200ms steps(2, end) infinite;
}

&.allWin {
    animation: win2 200ms steps(2, end) infinite;
}

.slot-button-class{
    position: relative;
    top: -70px;
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    color: rgb(203, 27, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out; /* เพิ่ม transition เมื่อ hover */
    /* box-shadow: 0 5px 30px rgba(248, 47, 47, 0.3); */
}
.slot-button-class:hover{
    background-color: rgb(203, 27, 0);
    background: white;
    
}
.slot-button-class:active {
    transform: translateY(10px);
}

/* .Swal-backdrop::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://drive.google.com/file/d/1Hxs16HryQj3sOPhZhMWQKxlwO9Oqa2Ol/view?usp=sharing') center center no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
  } */
