@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css');


.bg-howto {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.text-intro h1 {
    color: #B2442B;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 65px;
    top: 110px;
}

.text-intro a {
    font-size: 20px;
    position: absolute;
    left: 65px;
    top: 300px;
    /* white-space: pre; */
}

.text-intro aside {
    position: absolute;
    left: 900px;
    top: 150px;
}

.publicplace span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2442B;
}

.publicplace h1, h2, h3 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
}

.publicplace h1 {
    left: 120px;
    top: 22px;
}

.publicplace h2 {
    left: 120px;
    top: 100px;
}

.publicplace h3 {
    left: 120px;
    top: -55px;
}

.publicplace {
    background-image : url("../Asset/bg-publicplace3.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.publicplace1 {
    background-color: black;
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem; 
}

.publicplace1 h1{
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    left: -100px;
    top: 10px;
}

.publicplace1 h1 span {
    background: -webkit-linear-gradient(0deg, #B2442B, #811B9B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.publicplace1 h2 {
    font-size: 27px;
    font-weight: 400;
    color: #A6A6A6;
    position: relative;
    left: -100px;
    top: 5px;
}

.publicplace1 h2 span {
    font-size: 23px;
    font-weight: 400;
}

.element-public {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element-public img {
    position: relative;
    right: -158px;
    bottom: 122px;
    width: 366px;
    height: 220px;
}

.element-public .reception {
    position: relative;
    right: -158px;
    bottom: 87px;
    width: 366px;
    height: 220px;
}

.element-public h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element-public a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 20;
}

.public-slide, .public1-slide, .public2-slide, .public3-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.element1-public {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element1-public img {
    position: relative;
    right: -165px;
    bottom: 145px;
    width: 346px;
    height: 210px;
}

.element1-public h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element1-public a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 20;
}

.element1-public .important {
    position: relative;
    right: -158px;
    bottom: 157px;
    width: 300px;
    height: 220px;
}

.element2-public {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element2-public img {
    position: relative;
    right: -160px;
    bottom: 98px;
    width: 346px;
    height: 230px;
}

.element2-public .softwear {
    position: relative;
    right: -173px;
    bottom: 135px;
    width: 300px;
    height: 210px;
}

.element2-public h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element2-public a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 20;
}

.element3-public {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element3-public img {
    position: relative;
    right: -162px;
    bottom: 82px;
    width: 346px;
    height: 220px;
}

.element3-public h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element3-public a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 20;
}

/* Private Place */

.privateplace span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2442B;
}

.privateplace h1, h2, h3{
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
}

.privateplace h1 {
    left: 70px;
    top: 40px;
}

.privateplace h2 {
    left: 70px;
    top: 117px;
}

.privateplace h3 {
    left: 70px;
    top: -37px;
}

.privateplace {
    background-image: url("../Asset/bg-howto-private.svg");
    background-size: cover; 
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.privateplace1 {
    background-color: black;
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
}

.privateplace1 h1{
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    left: -30px;
    top: 10px;
}

.privateplace1 h1 span {
    background: -webkit-linear-gradient(0deg, #68EBBC, #1200E3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.privateplace1 h2 {
    font-size: 27px;
    font-weight: 400;
    color: #A6A6A6;
    position: relative;
    left: -30px;
    top: 5px;
}

.privateplace1 h2 span {
    font-size: 23px;
    font-weight: 400;
}

.element-private {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element-private img {
    position: relative;
    right: -160px;
    bottom: 50px;
    width: 366px;
    height: 220px;
}

.element-private .last {
    position: relative;
    right: -170px;
    bottom: 120px;
    width: 366px;
    height: 220px;
}

.element-private h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element-private a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 20;
}

.private-slide, .private1-slide, .private2-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.element1-private {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element1-private img {
    position: relative;
    right: -170px;
    bottom: 140px;
    width: 346px;
    height: 200px;
}

.element1-private h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element1-private a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 20;
}

.element1-private .blanket {
    position: relative;
    right: -173px;
    bottom: 102px;
    width: 300px;
    height: 200px;
}

.element2-private {
    width: 645px;
    height: 350px;
    background-color: #C0D8F4;
    border-radius: 38px;
    overflow: hidden;
    padding: 15px 35px ;
}

.element2-private .area {
    position: relative;
    right: -155px;
    bottom: 88px;
    width: 366px;
    height: 220px;
}

.element2-private h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.element2-private a {
    position: relative;
    font-size: 22px;
    font-weight: lighter;
    z-index: 1;
}

/* custom slider */
.PrivateNextArrow,
.PrivatePrevArrow {
    z-index: 3;
    position: absolute;
    /* bottom: 30px; */
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(0, 15, 52);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.PrivateNextArrow:hover,
.PrivatePrevArrow:hover {
    background-color: #C0D8F4;
    color: rgb(0, 15, 52);
}

.PrivateNextArrow {
    right: 189px;
    top: 425px;
}

.PrivatePrevArrow {
    top: 425px;
    left: 187px;
}

.indicatorPrivateplace {
    z-index: 3;
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 0 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
  }
  
  .indicatorPrivateplace.selected {
    background-color: rgb(255, 255, 255); /* Color when selected */
  }
  
  .indicatorPrivateplace:not(.selected) {
    background-color: rgb(97, 97, 97);
    width: 20px;
  }