@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css');

.text-intro h1 {
    color: #B2442B;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 65px;
    top: 110px;
}

.text-intro a {
    font-size: 20px;
    position: absolute;
    left: 65px;
    top: 300px;
    /* white-space: pre; */
}

.text-intro aside {
    position: absolute;
    left: 900px;
    top: 150px;
}

.publicplace span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2442B;
}

.publicplace h1 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 120px;
    top: 22px;
}

.publicplace h2 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 120px;
    top: 100px;
}

.publicplace h3 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 120px;
    top: -55px;
}

.publicplace {
    background-image : url("../Asset/bg-publicplace3.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.publicplace1 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: center;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace1 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 800px;
    top: 175px;
    padding: 10px;
    width: 295px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace1 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 800px;
    top: 100px;
    padding: 80px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 50px; /* ขอบมน */
}

.publicplace1 aside2 {
    position: relative;
    left: 300px;
    top: -350px;
}

.publicplace2 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace2 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 222px;
    padding: 8px;
    width: 345px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace2 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 150px;
    padding: 70px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 36px; /* ขอบมน */
}

.publicplace2 aside {
    position: relative;
    left: 190px;
    top: -300px;
}

.publicplace3 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace3 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 900px;
    top: 165px;
    padding: 5px;
    width: 270px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace3 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 900px;
    top: 100px;
    padding: 70px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 41px; /* ขอบมน */
}

.publicplace3 aside {
    position: relative;
    left: 240px;
    top: -320px;
}

.publicplace4 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace4 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 920px;
    top: 195px;
    padding: 5px;
    width: 270px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace4 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 920px;
    top: 130px;
    padding: 70px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 41px; /* ขอบมน */
}

.publicplace4 aside {
    position: relative;
    left: 200px;
    top: -300px;
}

.publicplace5 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace5 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 850px;
    top: 132px;
    padding: 5px;
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace5 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 850px;
    top: 67px;
    padding: 70px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 41px; /* ขอบมน */
}

.publicplace5 aside {
    position: relative;
    left: 300px;
    top: -300px;
}

.publicplace6 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace6 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 860px;
    top: 186px;
    padding: 5px;
    width: 310px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace6 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 860px;
    top: 120px;
    padding: 70px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 41px; /* ขอบมน */
}

.publicplace6 aside {
    position: relative;
    left: 200px;
    top: -240px;
}

.publicplace7 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace7 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 900px;
    top: 190px;
    padding: 7px;
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.publicplace7 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 900px;
    top: 120px;
    padding: 70px;
    width: 550px;
    background-color: #d8d8d8;
    border-radius: 41px; /* ขอบมน */
}

.publicplace7 aside {
    position: relative;
    left: 250px;
    top: -250px;
}

.privateplace span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2442B;
}

.privateplace h1 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 70px;
    top: 40px;
}

.privateplace h2 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 70px;
    top: 117px;
}

.privateplace h3 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 70px;
    top: -37px;
}

.privateplace {
    background-image: url("../Asset/bg-howto-private.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    position: relative;
    left: -47px;
    overflow: hidden; 
}

.privateplace1 {
    background-color: black;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace1 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 218px;
    padding: 7px;
    width: 470px;
    text-align: center;
    background-color: #ffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.privateplace1 a {
    display: block;
    color: #000000;
    background-color: #d8d8d8;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 150px;
    padding: 70px;
    width: 560px;
    border-radius: 41px; /* ขอบมน */
}

.privateplace1 aside {
    position: relative;
    left: 250px;
    top: -250px;
}

.privateplace2 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace2 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 850px;
    top: 185px;
    padding: 6px;
    width: 470px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.privateplace2 a {
    display: block;
    color: #000000;
    background-color: #d8d8d8;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 850px;
    top: 118px;
    padding: 70px;
    width: 550px;
    border-radius: 41px; /* ขอบมน */
}

.privateplace2 aside {
    position: relative;
    left: 300px;
    top: -250px;
}

.privateplace3 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace3 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 870px;
    top: 169px;
    padding: 7px;
    width: 500px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.privateplace3 a {
    display: block;
    color: #000000;
    background-color: #d8d8d8;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 870px;
    top: 100px;
    padding: 70px;
    width: 550px;
    border-radius: 41px; /* ขอบมน */
}

.privateplace3 aside {
    position: relative;
    left: 300px;
    top: -270px;
}

.privateplace4 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace4 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 870px;
    top: 199px;
    padding: 7px;
    width: 450px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.privateplace4 a {
    display: block;
    color: #000000;
    background-color: #d8d8d8;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 870px;
    top: 130px;
    padding: 70px;
    width: 550px;
    border-radius: 41px; /* ขอบมน */
}

.privateplace4 aside {
    position: relative;
    left: 300px;
    top: -240px;
}

.privateplace5 {
    background-color: #000000;
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace5 h1 {
    display: block;
    color: #000000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 249px;
    padding: 7px;
    width: 400px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 41px; /* ขอบมน */
    z-index: 1;
}

.privateplace5 a {
    display: block;
    color: #000000;
    background-color: #d8d8d8;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 180px;
    padding: 70px;
    width: 550px;
    border-radius: 41px; /* ขอบมน */
}

.privateplace5 aside {
    position: relative;
    left: 300px;
    top: -155px;
}