.intro-page {
    position: relative;
    top: 110px;
    left: 20px;
    padding: 40px 30px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.text-intro h1 {
    color: #B2442B;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 30px;
}

.text-intro a {
    font-size: 20px;
    position: absolute;
    left: 65px;
    top: 200px;
    /* white-space: pre; */
}

.text-intro aside {
    position: absolute;
    left: 870px;
    top: 50px;
}

.publicplace span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2442B;
}

.publicplace h1 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 130px;
    top: 65px;
}

.publicplace h2 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 130px;
    top: 145px;
}

.publicplace h3 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 130px;
    top: -14px;
}

.publicplace {
    background-image: url("../Asset/bg-publicplace3.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.publicplace1 {
    background-image: url("../Asset/bg-howto-public.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: center;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace1 h1 {
    display: block;
    color: #B2442B;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 245px;
    top: 180px;
    border: 4px solid #B2442B;
    padding: 6px;
    width: 295px;
    text-align: right;
    background-color: #ecf0f1;
    border-radius: 20px; /* ขอบมน */
}

.publicplace1 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 200px;
    top: 100px;
    padding: 2px;
    width: 100px;
    text-align: center;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.publicplace1 a {
    display: block;
    color: #000000;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 170px;
    top: 80px;
    border: 4px solid #B2442B;
    padding: 25px;
    width: 580px;
    background-color: #ecf0f1;
    border-radius: 36px; /* ขอบมน */
}

.publicplace1 aside {
    position: relative;
    left: 470px;
    top: 343px;
}

.publicplace1 aside2 {
    position: relative;
    left: 1000px;
    top: -350px;
}

.publicplace1 aside3 {
    position: relative;
    left: 30px;
    top: -255px;
}

.publicplace1 aside4 {
    position: relative;
    left: 40px;
    top: -253px;
}

.publicplace1 aside5 {
    position: relative;
    left: 50px;
    top: -258px;
}

.publicplace1 aside6 {
    position: relative;
    left: 60px;
    top: -253px;
}

.publicplace1 aside7 {
    position: relative;
    left: 70px;
    top: -253px;
}

.publicplace1 aside8 {
    position: relative;
    left: 80px;
    top: -253px;
}

.publicplace2 {
    background-image: url("../Asset/bg-howto-public-relation.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace2 h1 {
    display: block;
    color: #b94e36;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 880px;
    top: 235px;
    border: 4px solid #B2442B;
    padding: 8px;
    width: 345px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.publicplace2 h2 {
    display: inline-block;
    color: #B2442B;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 820px;
    top: 150px;
    padding: 2px;
    width: 100px;
    text-align: center;
    border: 2px solid #B2442B;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
}

.publicplace2 a {
    display: block;
    color: #000000;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 850px;
    top: 110px;
    border: 4px solid #B2442B;
    padding: 30px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 36px; /* ขอบมน */
}

.publicplace2 aside {
    position: relative;
    left: 10px;
    top: -325px;
}

.publicplace2 aside2 {
    position: relative;
    left: 500px;
    top: -253px;
}

.publicplace2 aside3 {
    position: relative;
    left: 510px;
    top: -253px;
}

.publicplace2 aside4 {
    position: relative;
    left: 520px;
    top: -253px;
}

.publicplace2 aside5 {
    position: relative;
    left: 530px;
    top: -258px;
}

.publicplace2 aside6 {
    position: relative;
    left: 540px;
    top: -253px;
}

.publicplace2 aside7 {
    position: relative;
    left: 550px;
    top: -253px;
}

.publicplace2 aside8 {
    position: relative;
    left: 560px;
    top: -253px;
}

.publicplace3 {
    background-image: url("../Asset/bg-howto-public-try.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace3 h1 {
    display: block;
    color: #B2442B;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 175px;
    top: 170px;
    border: 4px solid #B2442B;
    padding: 5px;
    width: 270px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.publicplace3 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 130px;
    top: 95px;
    padding: 2px;
    width: 100px;
    text-align: center;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.publicplace3 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 170px;
    top: 70px;
    border: 4px solid #B2442B;
    padding: 30px;
    width: 530px;
    background-color: #ecf0f1;
    border-radius: 36px; /* ขอบมน */
}

.publicplace3 aside {
    position: relative;
    left: 850px;
    top: -370px;
}

.publicplace3 aside2 {
    position: relative;
    left: 530px;
    top: -260px;
}

.publicplace3 aside3 {
    position: relative;
    left: 540px;
    top: -260px;
}

.publicplace3 aside4 {
    position: relative;
    left: 550px;
    top: -260px;
}

.publicplace3 aside5 {
    position: relative;
    left: 560px;
    top: -265px;
}

.publicplace3 aside6 {
    position: relative;
    left: 570px;
    top: -260px;
}

.publicplace3 aside7 {
    position: relative;
    left: 580px;
    top: -260px;
}

.publicplace3 aside8 {
    position: relative;
    left: 590px;
    top: -260px;
}

.publicplace4 {
    background-image: url("../Asset/bg-howto-public-important.png");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace4 h1 {
    display: block;
    color: #b94e36;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 920px;
    top: 220px;
    border: 4px solid #B2442B;
    padding: 5px;
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.publicplace4 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 890px;
    top: 145px;
    padding: 2px;
    width: 100px;
    text-align: center;
    border: 2px solid #B2442B;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.publicplace4 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 930px;
    top: 115px;
    border: 4px solid #B2442B;
    padding: 30px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 36px; /* ขอบมน */
}

.publicplace4 aside {
    position: relative;
    left: 0px;
    top: -270px;
}

.publicplace4 aside2 {
    position: relative;
    left: 520px;
    top: -265px;
}

.publicplace4 aside3 {
    position: relative;
    left: 530px;
    top: -265px;
}

.publicplace4 aside4 {
    position: relative;
    left: 540px;
    top: -265px;
}

.publicplace4 aside5 {
    position: relative;
    left: 550px;
    top: -270px;
}

.publicplace4 aside6 {
    position: relative;
    left: 560px;
    top: -265px;
}

.publicplace4 aside7 {
    position: relative;
    left: 570px;
    top: -265px;
}

.publicplace4 aside8 {
    position: relative;
    left: 580px;
    top: -265px;
}

.publicplace5 {
    background-image: url("../Asset/bg-howto-public-social.png");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace5 h1 {
    display: block;
    color: #B2442B;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 175px;
    top: 170px;
    border: 4px solid #B2442B;
    padding: 5px;
    width: 300px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.publicplace5 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 130px;
    top: 95px;
    padding: 2px;
    width: 100px;
    text-align: center;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.publicplace5 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 180px;
    top: 67px;
    border: 4px solid #B2442B;
    padding: 30px;
    width: 530px;
    background-color: #ecf0f1;
    border-radius: 36px; /* ขอบมน */
}

.publicplace5 aside {
    position: relative;
    left: 950px;
    top: -275px;
}

.publicplace5 aside2 {
    position: relative;
    left: 520px;
    top: -160px;
}

.publicplace5 aside3 {
    position: relative;
    left: 530px;
    top: -160px;
}

.publicplace5 aside4 {
    position: relative;
    left: 540px;
    top: -160px;
}

.publicplace5 aside5 {
    position: relative;
    left: 550px;
    top: -163px;
}

.publicplace5 aside6 {
    position: relative;
    left: 560px;
    top: -160px;
}

.publicplace5 aside7 {
    position: relative;
    left: 570px;
    top: -160px;
}

.publicplace5 aside8 {
    position: relative;
    left: 580px;
    top: -160px;
}

.publicplace6 {
    background-image: url("../Asset/bg-howto-public-software.png");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace6 h1 {
    display: block;
    color: #b94e36;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 875px;
    top: 225px;
    border: 4px solid #B2442B;
    padding: 5px;
    width: 310px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.publicplace6 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 830px;
    top: 140px;
    padding: 2px;
    width: 100px;
    text-align: center;
    border: 2px solid #B2442B;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.publicplace6 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 860px;
    top: 120px;
    border: 4px solid #B2442B;
    padding: 30px;
    width: 550px;
    background-color: #ffffff;
    border-radius: 36px; /* ขอบมน */
}

.publicplace6 aside {
    position: relative;
    left: 50px;
    top: -260px;
}

.publicplace6 aside2 {
    position: relative;
    left: 520px;
    top: -140px;
}

.publicplace6 aside3 {
    position: relative;
    left: 530px;
    top: -140px;
}

.publicplace6 aside4 {
    position: relative;
    left: 540px;
    top: -140px;
}

.publicplace6 aside5 {
    position: relative;
    left: 550px;
    top: -145px;
}

.publicplace6 aside6 {
    position: relative;
    left: 560px;
    top: -140px;
}

.publicplace6 aside7 {
    position: relative;
    left: 570px;
    top: -140px;
}

.publicplace6 aside8 {
    position: relative;
    left: 580px;
    top: -140px;
}

.publicplace7 {
    background-image: url("../Asset/bg-howto-public-ask.png");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.publicplace7 h1 {
    display: block;
    color: #B2442B;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 175px;
    top: 178px;
    border: 4px solid #B2442B;
    padding: 7px;
    width: 300px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.publicplace7 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 130px;
    top: 95px;
    padding: 2px;
    width: 100px;
    text-align: center;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.publicplace7 a {
    display: block;
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 180px;
    top: 60px;
    border: 4px solid #B2442B;
    padding: 30px;
    width: 530px;
    background-color: #ecf0f1;
    border-radius: 36px; /* ขอบมน */
}

.publicplace7 aside {
    position: relative;
    left: 950px;
    top: -250px;
}

.publicplace7 aside2 {
    position: relative;
    left: 520px;
    top: -155px;
}

.publicplace7 aside3 {
    position: relative;
    left: 530px;
    top: -155px;
}

.publicplace7 aside4 {
    position: relative;
    left: 540px;
    top: -155px;
}

.publicplace7 aside5 {
    position: relative;
    left: 550px;
    top: -158px;
}

.publicplace7 aside6 {
    position: relative;
    left: 560px;
    top: -155px;
}

.publicplace7 aside7 {
    position: relative;
    left: 570px;
    top: -155px;
}

.publicplace7 aside8 {
    position: relative;
    left: 580px;
    top: -155px;
}

.privateplace span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B2442B;
}

.privateplace h1 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 70px;
    top: 40px;
}

.privateplace h2 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 70px;
    top: 117px;
}

.privateplace h3 {
    color: #B2442B;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    left: 70px;
    top: -37px;
}

.privateplace {
    background-image: url("../Asset/bg-howto-private.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    position: relative;
    left: -47px;
    overflow: hidden; 
}

.privateplace1 {
    background-image: url("../Asset/bg-private-calm.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace1 h1 {
    display: block;
    color: #B2442B;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 195px;
    top: 40px;
    border: 4px solid #B2442B;
    padding: 7px;
    width: 500px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.privateplace1 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 138px;
    top: -50px;
    padding: 2px;
    width: 100px;
    text-align: center;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.privateplace1 a {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 135px;
    top: -55px;
    padding: 30px;
    width: 1300px;
}

.privateplace1 aside {
    position: relative;
    left: 500px;
    top: -70px;
}

.privateplace2 {
    background-image: url("../Asset/bg-private-lastactive.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace2 h1 {
    display: block;
    color: #B2442B;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 195px;
    top: 40px;
    border: 4px solid #B2442B;
    padding: 7px;
    width: 800px;
    text-align: center;
    background-color: #ecf0f1;
    border-radius: 20px; /* ขอบมน */
    z-index: 1;
}

.privateplace2 h2 {
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 138px;
    top: -50px;
    padding: 2px;
    width: 100px;
    text-align: center;
    background-color: #B2442B;
    border-radius: 50%;
    z-index: 2;
}

.privateplace2 a {
    display: block;
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    left: 135px;
    top: -55px;
    padding: 30px;
    width: 1300px;
}

.privateplace2 aside {
    position: relative;
    left: 500px;
    top: -70px;
}

.privateplace3 {
    background-image: url("../Asset/bg-private-space.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace4 {
    background-image: url("../Asset/bg-private-blanket.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}

.privateplace5 {
    background-image: url("../Asset/bg-private-useitoften.svg");
    background-size: cover; /* Adjust the background size as needed */
    background-position: top left;
    background-repeat: no-repeat;
    width: 1536px;
    height: 100vh;
    overflow: hidden; 
}
