.bg-PreventPet {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.text-info-element-Pet {
    padding: 30px 55px;
    border-radius: 97px;
    background-image: linear-gradient(rgb(144, 144, 144),black);
    width: 600px;
    height: 400px;
}